

<nav class="control" style="display: flex; margin:auto; " > 
    <a href="<%=rutaLista%>?pagina=<%=controlPaginas.paginaAnterior %>" class="btn-prev">Anterior</a> 
    <p><%=controlPaginas.paginaActual %></p>
    <a href="<%=rutaLista%>?pagina=<%=controlPaginas.paginaSiguiente %>" class="btn-next">Siguiente</a>
    
</nav>