<div class= "product-catalog">
    <a href="/detalle/<%= producto.id %>">
        <img src="images/<%= producto.img %>" class="catal-prod" alt="">
    </a>

    <div class="info-prod-price">
        <a href="/detalle/<%= producto.id %>" class="">
            <%= producto.nombre %> 
        </a>
        <span class="price-acl"> $ <%= producto.precio %></span>
    </div>    
</div>