<div class="product-box">
    <!-- image-container -->
    <div class="p-img-container">
        <div class="p-img">
            <a href="/detalle/<%= producto.id %>">
                <img src="images/<%= producto.img %>" class="p-img-front" alt="front">
            </a>
        </div>
    </div>

    <!-- title-->
    <a href="/detalle/<%= producto.id %>" class="product-title">
        <%= producto.nombreProducto %>
    </a>
    
     <div class="info-prod-price">
        <a href="/detalle/<%= producto.id %>" class="">
            <%= producto.nombre %> 
        </a>
        <span class=""> $ <%= producto.precio %></span>
    </div>  
</div>