<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div id="franja"></div>

    <div class = "container_valid">
        <div class="errores">
            <ul></ul>
        </div>
    </div>

    <section class="ca_container_ppal">

                 
        <div>
            <form class="ca_container_form contact" action="/contacto" method="POST">
                <h2 class="ca_titulo_form">Déjanos tu Mensaje</h2>
                
                <div class="input_class"> 
                    <input class="ca_input_contact name" 
                        type="text" 
                        name = "Nombre" 
                        placeholder="Nombre y Apellido" 
                        value="<%= locals.oldData ? oldData.Nombre: null %>">
                    <% if (locals.errors && errors.Nombre) { %>
                        <div class = "text-danger">
                            <%= errors.Nombre.msg %> 
                        </div>
                        <br><br>
                
                    <% } %> 
                </div>
                
                <div class="input_class"> 
                        <input class="ca_input_contact email" 
                        type="" 
                        name = "Email" 
                        placeholder="Correo electrónico"
                        value="<%= locals.oldData ? oldData.Email: null %>">
                        <% if (locals.errors && errors.Email) { %>
                        <div class = "text-danger">
                            <%= errors.Email.msg %> 
                        </div>
                        <br><br>
                    <% } %> 
                    

                </div>

                <div class="input_class"> 
                    <input class="ca_input_contact phone" 
                    type="number" 
                    name = "Telefono" 
                    placeholder="Teléfono (cod. área + número)"
                    value="<%= locals.oldData ? oldData.Telefono: null %>">
                    <% if (locals.errors && errors.Telefono) { %>
                    <div class = "text-danger">
                        <%= errors.Telefono.msg %> 
                    </div>
                    <br><br>
                <% } %> 
                    
                </div>

                <div class="input_class"> 
                        <textarea class="ca_input_contact message" 
                        
                        type="text" 
                        name="mensaje" 
                        placeholder= "Escriba aquí su mensaje" 
                        id="mensaje" cols="30" rows="10"><%= locals.oldData ? oldData.mensaje: null %></textarea>
                        
                        <% if (locals.errors && errors.mensaje) { %>
                            <div class = "text-danger">
                                <%= errors.mensaje.msg %> 
                            </div>
                            <br> <br>
                        <% } %> 
                </div>

                <button type="submit" id="btn_contact">Enviar Consulta</button> 
            </form>
        </div>

       
    </section>
    <%- include('../partials/footer'); %>

      <!-- <script src="js/contacto.js"></script>-->
      
</body>
</html>