<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div id="franja"></div>
    <div>
        <form class="ca_container_login" action="" method="POST">
            <h2 class="ca_titulo_login">Iniciar Sesión</h2>        

            <div class="input-container">
                <label class= "label_login" for="email">* Email</label>
                <input class="ca_input_login" type="email" name="email" placeholder="">
                <% if (resultErrors.email) { %>
                    <span class="error"> <%= resultErrors.email.msg %> </span>
                    <br><br>   
                <% } %>  
            </div>

            <div class="input-container">
                <label class= "label_login" for="password">* Contraseña</label>
                <input class="ca_input_login" type="password" name="password" placeholder="">
                <% if (resultErrors.email) { %>
                    <span class="error"> <%= resultErrors.password.msg %> </span>
                    <br><br>   
                <% } %>  
            </div>
            

            <div class="ca_container_recuperar">
                <label class= "label_checkbox" for=""><input type="checkbox" name="recordarPassword" value ="recordarPassword">  Recuerdame</label>

                <a class="ca_recuperar_pass" href="#">¿Olvidaste tu Contraseña?</a>
            </div>
            
            <button type="submit" id="btn_login">Iniciar Sesión</button> 
            <p class="ca_registro">¿No tienes una Cuenta?<a href="/registro"> Registrate aquí</a></p> 
        </form>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>