<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div id="franja"></div>
    <div>
        <form class="ca_container_register" action="/registro" method="POST" enctype="multipart/form-data">
            <h2 class="ca_titulo_register">Registrarme</h2>

            <p id="ca_requeridos">(*)Campos Requeridos</p>
            <div class="container-error-login">
                <% if (errorEmail) { %>
                    <span class="error-login"> <%= errorEmail%> </span>
                    <br><br>  
                <% } %>     
            </div>

            <div class="input-container">
                <label class= "label_register" for="nombre">* Nombre</label>
                <input class="ca_input_register" type="text" name="nombre" placeholder="" value="<%= data.nombre %>">
                <% if (errors.nombre) { %> 
                    <span class="error"><%= errors.nombre.msg %> </span>
                    <br><br>
                <% } %>
            </div>
            
            <div class="input-container">
                <label class= "label_register" for="apellido">* Apellido</label>
                <input class="ca_input_register" type="text" name="apellido" placeholder="" value="<%= data.apellido %>">
                <% if (errors.apellido) { %> 
                    <span class="error"><%= errors.apellido.msg %> </span>
                    <br><br>
                <% } %>
            </div>
            

            <label  class="label_register"for="img">Agregar imagen o Avatar de perfil:</label>
            <input class="ca_input_register"  type="file" name="img" id="img" (acepta solo formatos.jpg, .png)>
        
            <div class="input-container">
                <label class= "label_register" for="telefono">* Teléfono (cod. área + número)</label>
                <input class="ca_input_register" type="number" name="telefono" placeholder="" value="<%= data.telefono %>">
                <% if (errors.telefono) { %> 
                    <span class="error"><%= errors.telefono.msg %> </span>
                    <br><br>
                <% } %>
            </div>

            <div class="input-container">
                <label class= "label_register" for="email">* Email</label>
                <input class="ca_input_register" type="email" name="email" placeholder="" value="<%= data.email %>">
                <% if (errors.email) { %> 
                    <span class="error"><%= errors.email.msg %> </span>
                    <br><br>
                <% } %>
            </div>

            <div class="input-container">
                <label class= "label_register" for="password">* Contraseña (mínimo 8 caracteres)</label>
                <input class="ca_input_register" type="password" name = "password" placeholder="">
                <% if (errors.password) { %> 
                    <span class="error"><%= errors.password.msg %> </span>
                    <br><br>
                <% } %>
            </div>

            <div class="input-container">
                <label  class= "label_register" for="confirmarPassword">* Confirmar Contraseña</label>
                <input class="ca_input_register" type="password" name = "confirmarPassword" placeholder="">
                <% if (errors.confirmarPassword) { %> 
                    <span class="error"><%= errors.confirmarPassword.msg %> </span>
                    <br><br>
                <% } %>
            </div>
            
            <label class= "label_register" for="politicas">
                <input type="checkbox" name="politicas" value ="politicas"> Acepto las Políticas de Privacidad y Términos y Condiciones
            </label>
            
            <input type="submit" value="Crear mi Cuenta" id="btn_register">
            <p class="ca_cuenta">¿Ya tienes una Cuenta?<a href="/login"> Ingresá acá</a></p>
            
        </form>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>







