<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header');%>
    <div id="franja"></div>


            <div>
                <form class="ca_container_register registro" action="/registro" method="POST" enctype="multipart/form-data">
                    <input type="submit" value="registrar Usuario Admin" id="btn_register">

            </div>

          
              

            <br>  <br>  <br>  
            <section>
                <table class= "" >
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Contraseña Encriptada</th>
                        
                    </tr>

                <% listUsuario.forEach(usuario => { %>
                    <tr class = inf>
                        <td><%= usuario.id %></td>
                        <td><%= usuario.nombre %></td>
                        <td><%= usuario.apellido %></td>
                        <td><%= usuario.telefono %></td>
                        <td><%= usuario.email %></td>
                        <td><%= usuario.pwd %></td>
                    </tr>
                    <% }); %> 
            
             
                    </table>
            </section>
               <br>  <br>  <br>  <br> 
          
     

   
    <%- include('../partials/footer'); %>


</body>
</html>







