<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>

            <div class="errores">
                <ul></ul>
            </div>

    <section class = "ca_formediction">

        <form class = "agregar add" action="/crearproductos" method="POST" enctype="multipart/form-data">
            <h2 id="title_editar" >Crear un Producto</h2>

            <p class="input-container2">
                <label class="label_edition" for="nombre">Nombre del Producto:</label>
                <input class="ca_input_add nameproduct" 
                type="text" 
                name="nombre" 
                id="nombre"
                value="<%= locals.oldData ? oldData.nombre: null %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <div class = "error2">
                            <%= errors.nombre.msg %> 
                        </div>    
                                 
                    <% } %>
            </p>
       
           <p>
                <label  class="label_edition"for="img">Agregar imagen (acepta solo formatos .jpg, .png, .gif)</label>
                <input class="ca_input_add"  type="file" name="img" id="img" value="<%= locals.oldData ? oldData.img: null %>"> 
                <% if (locals.errors && errors.img) { %>
                    <div class = "error2">
                        <%= errors.img.msg %> 
                    </div>    
                               
                <% } %>
            </p>

           <p>
                <label class="label_edition" for="precio">Precio del Producto:</label>
                <input class="ca_input_add priceproduct"  type="number" name="precio" id="precio" value="<%= locals.oldData ? oldData.precio: null %>">
                <% if (locals.errors && errors.precio) { %>
                    <div class = "error2">
                        <%= errors.precio.msg %> 
                    </div>    
                               
                <% } %>
           </p>
            
            <p>
                <label  class="label_edition" for="descuento">Precio Oferta:</label>
                <input class="ca_input_add"  type="number" name="descuento" id="descuento">
        
            </p>

            <p>
                <label class="label_edition" for="recomendado">
                    <span>Recomendado para Vos:</span>
                </label>
                <select  class="ca_input_add" id="recomendado" name="recomendado"">
                    <option value="1">No</option>
                    <option value="2">Si</option>
                </select>
            </p>
    
                   
        
            <p>
                <label class="label_edition" for="">Talles Disponibles:</label><br> 

                <% talles.forEach(function (talle){ %>

                    <% if (locals.oldData && oldData.talles && oldData.talles.find(talleProducto => talleProducto == talle.id)) { %> 
                        <input type="checkbox" name="talles[]" value="<%= talle.id %>" checked> <%= talle.numero %>
                    <% } else { %>
                        <input type="checkbox" name="talles[]" value="<%= talle.id %>"> <%= talle.numero %>
                    <% }  %>
                <% }); %>
                                        
                <% if (locals.errors && errors.talles) { %>
                    <div class = "error2">
                        <%= errors.talles.msg %> 
                    </div>    
                             
                <% } %>
            </p>
            

            <div> 
                <label class="label_edition" for="descripcion">Descripción del Producto:</label> <br>
                <textarea class="ca_input_add descriproduct" 
                    type="text" 
                    name="descripcion" 
                    id="descripcion" cols="30" rows="10"><%= locals.oldData ? oldData.descripcion: null %></textarea>
                
                <% if (locals.errors && errors.descripcion) { %>
                    <div class = "error2">
                        <%= errors.descripcion.msg %> 
                    </div>    
                             
                <% } %>

            </div>
               
            <p>
                <label class="label_edition" for="genero">
                    <span>Género:</span>
                </label>
                <select class="ca_input_add" id="genero" name="genero">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
            </p>


            <p>
                <label class="label_edition" for="id_marca">
                    <span>Marcas:</span>
                </label>
                <select  class="ca_input_add" id="marca" name="id_marca">
                    <option value="1">Adidas</option>
                    <option value="2">Nike</option>
                    <option value="3">Under Armour</option>
                </select>
            </p>
    

            <p>
                <label class="label_edition" for="status">
                    <span>Status:</span>
                </label>
                <select class="ca_input_add" id="status" name="status">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
              </p>
    
            <p>
                <label class="label_edition" for="stock">Stock</label>
                <input class="ca_input_add stockproduct" type="number" name ="stock" id="stock" value ="<%= locals.oldData ? oldData.stock: null %>">
                
                <% if (locals.errors && errors.stock) { %>
                    <div class = "error2">
                        <%= errors.stock.msg %> 
                    </div>    
                             
                <% } %>

            </p>
              
            <div class="flex_cancelar_agregar">
              
                <a href="/catalogo">
                    <input id="btn_cancelar" type="button" value="Cancelar">
                </a>

             <input type="submit" value="Crear Producto" id="btn_agregar">

             <!--<button type="submit" id="btn_agregar">Crear Zapatilla</button>--> 

            </div>
            
        </form>
    </section>
    <%- include('../partials/footer'); %>  
     
    <!--<script src="js/form_add.js"></script>-->

</body> 
</html>