<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <section class = "ca_formediction">

        <form action="/crearproductos" method="POST" enctype="multipart/form-data">
            <h2 id="title_editar" >Crear un Producto</h2>
            <p>
                <label class="label_edition" for="nombreProducto">Nombre del Producto:</label>
                <input class="ca_input_add" type="text" name="nombreProducto" id="nombreProducto">
            </p>
    
           <p>
                <label  class="label_edition" for="codigo">Código:</label>
                <input class="ca_input_add"  type="text" name="codigo" id="codigo">
           </p>
       
           <p>
                <label  class="label_edition"for="img">Agregar imagen:</label>
                <input class="ca_input_add"  type="file" name="img" id="img"> (acepta solo formatos.jpg, .png)
            </p>

           <p>
                <label class="label_edition" for="precio">Precio del Producto:</label>
                <input class="ca_input_add"  type="number" name="precio" id="precio">
           </p>
            
            <p>
                <label  class="label_edition" for="descuento">Precio Oferta:</label>
                <input class="ca_input_add"  type="number" name="descuento" id="descuento">
        
            </p>
           
            <p>
                <label class="label_edition" for="descripcion">Descripción del Producto:</label> <br>
                <textarea class="ca_input_add"  name="descripcion" id="descripcion" cols="30" rows="10"></textarea>             
            </p>
        
            <p>
                <label class="label_edition" for="">Talles Disponibles:</label><br> 
                <% talles.forEach(function (talle){ %>
                    <input type="checkbox" name="talle[]" value="<%= talle.id %>"> <%= talle.numero %>
                <% }); %>
            </p>
            
            <p>
                <label class="label_edition" for="marca">
                    <span>Marcas:</span>
                </label>
                <select  class="ca_input_add" id="marca" name="marca">
                    <option value="Adidas">Adidas</option>
                    <option value="Under Armour">Under Armour</option>
                    <option value="Nike">Nike</option>
                
                </select>
            </p>
    
            <p>
                <label class="label_edition" for="categoria">
                    <span>Categoría:</span>
                </label>
                <select class="ca_input_add" id="categoria" name="categoria">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
            </p>

            <p>
                <label class="label_edition" for="status">
                    <span>Status:</span>
                </label>
                <select class="ca_input_add" id="status" name="status">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
              </p>
    
            <label class="label_edition" for="stock">Stock</label>
            <input class="ca_input_add" type="number" name ="stock" id="stock">
                
            <div class="flex_cancelar_agregar">
                <input type="reset" value="Cancelar" id="btn_cancelar" >
                <input type="submit" value="Crear Producto" id="btn_agregar">
            </div>
            
        </form>
    </section>
    <%- include('../partials/footer'); %>    
</body>
</html>