<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    
    <div class="linea-al">
    </div>
    <% if (typeof usuario == "object" && usuario.admin) { %>
        <div class="add_product_acl">
            <a href="/crearproductos" class="product_add_acl">
                    <i class='bx bx-plus-medical'></i> Agregar producto
            </a>
        </div>
    <% } %> 

    <div class="filter_catalogo"> 
        <div class="filters-container">
                <button id="btn-filters" class="filters">Filtros</button>
            <div id="menu-filters">
                <form class="form-filter_al" method="GET" action="/catalogo">
                    <div class="filters-alc">
                        <h3 class="title_filter">Género</h3>
                        <input
                            type="checkbox"
                            id="hombre"
                            name="generos[]"
                            value="hombre"
                            <% if (filtros.generos && filtros.generos.includes('hombre')) { %> checked <% } %>
                        />
                        <label for="hombre"> Hombre </label><br>
                        <input
                            type="checkbox"
                            id="mujer"
                            name="generos[]"
                            value="mujer"
                            <% if (filtros.generos && filtros.generos.includes('mujer')) { %> checked <% } %>
                        />
                        <label for="mujer"> Mujer</label><br>
                    </div>
                    
                    <div class="filters-alc">
                        <h3 class="title_filter">Marcas</h3>
                        <% marcas.forEach(function (marca){ %>
                            <input 
                                type="checkbox"
                                id="" name="marcas[]"
                                value="<%= marca.id %>"
                                <% if (filtros.marcas && filtros.marcas.includes(`${marca.id}`)) { %> checked  <% } %>
                            />
                            <label for=""> <%= marca.nombre %>  </label><br>
                       <% }); %>
                    </div>

                    <div class="filters-alc">
                        <h3 class="title_filter">Talle</h3>
                        <% talles.forEach(function (talle){ %>
                            <input
                                type="checkbox"
                                id=""
                                name="talles[]"
                                value="<%= talle.id %>" <% if (filtros.talles && filtros.talles.includes(`${talle.id}`)) { %> checked <% } %>   
                            />
                            <label for=""> <%= talle.numero %>  </label><br>
                       <% }); %>
                    </div>
                    <div class="container-btnFilter">
                        <button class="filter-form">Filtrar</button>
                    </div>
                </form> 
            </div> 
        </div>
        
        <section class="container-catalogo">
            <% productos.forEach(function (producto) { %>
                <%- include('../partials/productCatalog', {producto: producto}); %>
            <% }); %> 
        </section>
    </div>
    <div class="control-paginas" style="justify-content: center; display:flex;">
        <%- include ('../partials/controlesPaginacion', { controlPaginas, rutaLista: "/catalogo" , filtros }) %>
    </div>
    <div class="footer">
        <%- include('../partials/footer'); %>
    </div>
    <script src="js/catalogo.js"></script>    
</body>
</html>