<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <section class = "ca_formediction">
        <form action="" method="POST">
            <h2 id="title_editar" >Editar un Producto</h2>
            <p>
                <label class="label_edition" for="Nombre del Producto">Nombre del Producto:</label>
                <input type="text" name= "producto" id=inp_width value="<%= producto.nombreProducto %> ">
            </p>
            <p>
                <label  class="label_edition" for="codigo del Producto">Código:</label>
                <input type="text" name= "producto" id=inp_width value="<%= producto.codigo %> ">
            </p>
            <p>
                <label class="label_edition" for="img Producto">Imagen del Producto:</label>
                <input type="text" name= "producto" id=inp_width value=" <%= producto.img %> ">
            </p> 
            <p>
                <label  class="label_edition img-edit" for="img Producto">Cambiar imagen:</label>
                <input type="file" name="" class="img-input-acl"> <br>
                (acepta solo formatos.jpg, .png)
            </p>
            <p>
                <label class="label_edition" for="precio Producto">Precio del Producto:</label>
                <input type="text" name= "producto" id=inp_width value=" <%= producto.precio  %> ">
            </p>
            <p>
                <label  class="label_edition" for="descuento">Precio Oferta:</label>
                <input type="text" name= "producto" id=inp_width value=" <%= producto.precio %>" >
            </p>
            <p>
                <label class="label_edition" for="descripcion del Producto">Descripción del Producto:</label> <br>
                <textarea name="descripcion" id=inp_width cols="30" rows="10">
                    <%= producto.descripcion %>
                </textarea>                   
            </p>
            <p>
                <label class="label_edition" for="">Talles Disponibles:</label><br>
                <% talles.forEach(function (talle){ %>
                    <input type="checkbox" name="talle[]" value="<%= talle %>"> <%= talle %>
                <% }); %>
            </p>
            <p>
                <label class="label_edition" for="marcas">
                    <span>Marcas:</span>
                </label>
                <select id="inp_width" name="categoria">
                    <option value="Adidas">Adidas</option>
                    <option value="Under Armour">Under Armour</option>
                    <option value="Nike">Nike</option>
                </select>
            </p>
            <p>
                <label class="label_edition" for="categoria">
                    <span>Categoría:</span>
                </label>
                <select id="inp_width" name="categoria">
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
            </p>
            <p>
                <label class="label_edition" for="status">
                    <span>Status:</span>
                </label>
                <select id="inp_width"id="inp_width" name="status">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </p>
    
            <label class="label_edition" for="stock">Stock</label>
            <input type="number" name = "Stock" id=inp_width>
                    
            <div class="container-cancl-edit-alc">
                <input type="reset" value="Cancelar" id="btn_cancelar-acl">
                <input type="button" value="Editar Producto" id="btn_editar"> 
            </div>
            <!-- <input type="reset" value="Cancelar" id="btn_cancelar">
            <input type="button" value="Editar Producto" id="btn_editar"> -->
        </form>
    </section>
    <%- include('../partials/footer'); %>  
</body>
</html>