<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <section class = "ca_formediction">
        <form action="/editarproductos/<%= producto.id %>" method="POST" enctype="multipart/form-data">
            <h2 id="title_editar" >Editar un Producto</h2>
            <p>
                <label class="label_edition" for="Nombre del Producto">Nombre del Producto:</label>
                <input type="text" 
                name="nombre" 
                id=inp_width 
                value="<%= producto.nombre %> ">
                <% if (locals.errors && errors.nombre) { %>
                    <div class = "error2">
                        <%= errors.nombre.msg %> 
                    </div>    
                    <br><br>           
                <% } %>



            </p>
            <section class="editNew-acl">
                <h4>Imagen del Producto</h4>
                <img src="/images/<%= producto.img %>" alt="" class="editNew-prod">
            </section>
            <p>
                <label  class="label_edition img-edit" for="img Producto">Cambiar imagen:</label>
                <input type="file" name="img" class="img-input-acl"> 
                (acepta solo formatos.jpg, .png)
            </p>
            <p>
                <label class="label_edition" for="precio Producto">Precio del Producto:</label>
                <input type="text" name= "precio" id=inp_width value="<%= producto.precio  %>">
            </p>
            <p>
                <label  class="label_edition" for="descuento">Precio Oferta:</label>
                <input type="text" name= "descuento" id=inp_width value="<%= producto.descuento %>" >
            </p>
            <p>
                <label class="label_edition" for="descripcion del Producto">Descripción del Producto:</label> <br>
                <textarea name="descripcion" id=inp_width cols="30" rows="10">
                    <%= producto.descripcion %>
                </textarea>                   
            </p>

            <!--ACA VA EL CODIGO DE LOS TALLES-->
           
            <p>
                <label class="label_edition" for="marcas">
                    <span>Marcas:</span>
                </label>
                <select id="inp_width" name="id_marca">
                    <option value="1" <% if (producto.id_marca === 1) { %> selected="selected" <% } %>>Adidas</option>
                    <option value="2" <% if (producto.id_marca === 2) { %> selected="selected" <% } %>>Under Armour</option>
                    <option value="3" <% if (producto.id_marca === 3) { %> selected="selected" <% } %>>Nike</option>
                </select>
            </p>
            <p>
                <label class="label_edition" for="categoria">
                    <span>Género:</span>
                </label>
                <select id="inp_width" name="genero">
                    <option value="Hombre" <% if (producto.categoria === 'Hombre') { %> selected="selected" <% } %>>Hombre</option>
                    <option value="Mujer" <% if (producto.categoria === 'Mujer') { %> selected="selected" <% } %>>Mujer</option>
                </select>
            </p>
            <p>
                <label class="label_edition" for="status">
                    <span>Status:</span>
                </label>
                <select id="inp_width"id="inp_width" name="status">
                    <option value="activo" <% if (producto.status === 'activo') { %> selected="selected" <% } %>>Activo</option>
                    <option value="inactivo" <% if (producto.status === 'inactivo') { %> selected="selected" <% } %>>Inactivo</option>
                </select>
            </p>
    
            <label class="label_edition" for="stock">Stock</label>
            <input type="number" name="stock" id=inp_width value="<%= producto.stock %>">

            <div class="container-cancl-edit-alc">
                <input type="reset" value="Cancelar" id="btn_cancelar-acl">
                <input type="submit" value="Editar Producto" id="btn_editar"> 
            </div>
        </form>
    </section>
    <%- include('../partials/footer'); %>  
</body>
</html>