<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div id="franja"></div>
            <div class="errores">
                <ul></ul>
            </div>
    <section class = "ca_formediction">
        <form class="edit" action="/editarproductos/<%= producto.id %>" method="POST" enctype="multipart/form-data">
            <h2 id="title_editar" >Editar un Producto</h2>
            <p>
                <label class="label_edition" for="Nombre del Producto">Nombre del Producto:</label>
                <input class="nameproduct2" type="text" 
                name="nombre" 
                id=inp_width 
                value="<%= producto.nombre %> ">
                <% if (locals.errors && errors.nombre) { %>
                    <div class = "error2">
                        <%= errors.nombre.msg %> 
                    </div>    
                    <br><br>           
                <% } %>
            </p>
            <section class="editNew-acl">
                <h4>Imagen del Producto</h4>
                <img src="/images/<%= producto.img %>" alt="" class="editNew-prod">
            </section>
            <p class="formato-img">
                <label  class="label_edition img-edit" for="img Producto">Cambiar imagen:</label>
                <input type="file" name="img" class="img-input-acl"> 
                (acepta solo formatos.jpg, .png)
            </p>
            <p>
                <label class="label_edition" for="precio Producto">Precio del Producto:</label>
                <input class="priceproduct2"  type="text" name= "precio" id=inp_width value="<%= producto.precio  %>">
            </p>
            <p>
                <label  class="label_edition" for="descuento">Precio Oferta:</label>
                <input type="text" class="weight-acl" name= "descuento" id=inp_width value="<%= producto.descuento %>" >
            </p>

            <p>
                <label for="recomendado">  
                    <input type="radio" name="recomendado"> Recomendado para vos
                </label>  
            </p>


            <p>
                <label class="label_edition" for="descripcion del Producto">Descripción del Producto:</label> <br>
                <textarea class="descriproduct2"  name="descripcion" id=inp_width cols="30" rows="10">
                    <%= producto.descripcion %>
                </textarea>                   
            </p>

            <!--ACA VA EL CODIGO DE LOS TALLES-->
            <p>
                <label class="label_edition" for="">Talles Disponibles:</label><br>
                <% talles.forEach(function (talle){ %>
                    <% if (producto.talles.find(talleProducto => talleProducto.id === talle.id)) { %> 
                        <input type="checkbox" name="talles[]" value="<%= talle.id %>" checked> <%= talle.numero %>
                    <% } else { %>
                        <input type="checkbox" name="talles[]" value="<%= talle.id %>"> <%= talle.numero %>
                    <% }  %>
                <% }); %>
            </p>
           
            <p>
                <label class="label_edition" for="marcas">
                    <span>Marcas:</span>
                </label>
                <select id="inp_width" name="id_marca" class="weight-acl">
                    <% marcas.forEach(function (marca){ %>
                        <option class="weight-acl" value="<%= marca.id %>" <% if (marca.id) { %> selected="selected" <% } %> > 
                            <%= marca.nombre %>  
                        </option>
                    <% }); %>
                   
                </select>
            </p>
            <p>
                <label class="label_edition" for="categoria">
                    <span>Género:</span>
                </label>
                <select id="inp_width" name="genero" class="weight-acl">
                    <option class="weight-acl" value="Hombre" <% if (producto.categoria === 'Hombre') { %> selected="selected" <% } %>>Hombre</option>
                    <option class="weight-acl" value="Mujer" <% if (producto.categoria === 'Mujer') { %> selected="selected" <% } %>>Mujer</option>
                </select>
            </p>
            <p>
                <label class="label_edition" for="status">
                    <span>Status:</span>
                </label>
                <select id="inp_width"id="inp_width" name="status" class="weight-acl">
                    <option class="weight-acl" value="activo" <% if (producto.status === 'activo') { %> selected="selected" <% } %>>Activo</option>
                    <option class="weight-acl" value="inactivo" <% if (producto.status === 'inactivo') { %> selected="selected" <% } %>>Inactivo</option>
                </select>
            </p>
    
            <label class="label_edition" for="stock">Stock</label>
            <input class="stockproduct2" type="number" name="stock" id=inp_width value="<%= producto.stock %>">

            <div class="container-cancl-edit-alc">
                <a href="/detalle/<%= producto.id %>" id="btn_cancelar-acl">
                    Cancelar
                </a>
                <input type="submit" value="Editar Producto" id="btn_editar"> 
            </div>
        </form>
    </section>
    <%- include('../partials/footer'); %>  

    <!-- <script src="js/form_edit.js"></script> -->
</body>
</html>