<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header'); %>
        <div id="franja"></div>
        <section class="ca_container1">
            <div class="ca_container2">
                <img src="/images/<%= producto.img %>" alt="Imagen Producto">            
            </div>
            <div class= "ca_container3">
                <div class="ca_caja_nombreproducto">
                    <h1><%= producto.nombreProducto %></h1>
                </div>
                <div class="ca_caja_codigo">
                    <p><%= producto.codigo %></p>
                </div>
                <div class="ca_caja_precio">
                    <p><%= producto.precio %></p>
                </div>  
                <div class="ca_caja_labeltalle">
                    <p>Seleccionar Talle:</p> 
                </div>  
                <div class="ca_container_talles">
                    <% producto.talle.forEach(function (talle){ %>
                        <li class="talle"><span> <%= talle %> </span></li>
                   <% }); %>
                </div>         
                <form class ="ca_caja_agregar" action="" method="POST">
                        <div class= "ca_cantidad"><input type="number"></div>
                    
                        <div>
                            <button class="ca_boton_agregar"> Agregar al Carrito</button>
                        </div> 
                </form>

                <% if (typeof usuario == "object" && usuario.typeUser) { %>
                    <section class="container_edit_delet">
                        <a href="/editarproductos/<%= producto.id %>" class="edit_delet_al blue_edit">
                                <i class='bx bxs-pencil'></i> Editar producto
                        </a>
                        <form action="/borrarProducto/<%= producto.id %>?_method=DELETE" method="POST">
                                <button class="edit_delet_al" type="submit"> <i class='bx bxs-trash-alt'></i> Borrar producto</button>
                        </form>
                    </section>
                <% } %>
                
            </div>
        </section>  
        <div class="ca_caja_descripcion">
            <p><%= producto.descripcion %>.</p>
        </div>
        <div class="ca_caja_atributos">
            <ul>
                <li>Género: <%= producto.categoria %></li>
                <li>Marca: <%= producto.marca %></li>
            </ul>
        </div>    
        <%- include('../partials/footer'); %>
    </body>
</html>